<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inflación Canasta Basica</title>
</head>

<body>

    <!-- Este sera el menu lateral izquierdo -->
    <aside>
        <ul>
            <li><a href="/">Precio Promedio Anual</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'signout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Signup</a></li>
            <li><a href="{% url 'signin' %}">Signin</a></li>
            {% endif %}
        </ul>
    </aside>

    {% block content %}
    {% endblock %}

</body>

</html>