{% extends 'base.html' %}

{% block content %}
<div class="table-wrapper">
    <form method="POST">
        <fieldset class="border rounded-3 p-3">
            <h1>Detalle Mensual</h1>
            {% csrf_token %}
            {{ form.errors.precio }}
            <br>
            <div class="d-flex align-items-center">
                <label for="precio" class="me-2">Precio:</label>
                <input type="text" name="precio" id="precio" class="form-control">
            </div>
              
            <button class="btn btn-success">
                Guardar
            </button>
        </fieldset>
    </form>
 <div class="table-wrapper">
{% endblock %}