{% extends 'base.html' %}

{% block content %}
    <h1>Canasta Básica Mensual</h1>
    <table>
        <thead>
        <tr>
            <th>Año</th>
            {% for mes in meses %}
                <th>{{ mes }}</th>
            {% endfor %}
            <th>Promedio anual</th>
            <th>Inflación</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ canasta_basica_anual.anio }}</td>
            {% for canasta_basica_mensual in canastas_basicas_mensuales %}
                <td>
                    {% if user.is_authenticated and user.is_superuser %}
                        <a href="{% url 'mensual_detail' canasta_basica_anual.id canasta_basica_mensual.id %}">${{ canasta_basica_mensual.precio }}</a>
                    {% else %}
                        ${{ canasta_basica_mensual.precio }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>${{ canasta_basica_anual.precio_promedio }}</td>
            <td>{{ canasta_basica_anual.inflacion }}%</td>
        </tr>
        </tbody>
    </table>
{% endblock %}