{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="table-wrapper">
    <h1>Canasta Básica Mensual</h1>
    <table class="table">
        <thead>
        <tr class="table-group-divider" scope="col">
            <th scope="row">Año</th>
            {% for mes in meses %}
                <th>{{ mes }}</th>
            {% endfor %}
            <th scope="row">Promedio anual</th>
            <th scope="row">Inflación</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        <tr class="table-group-divider" scope="col">
            <td>{{ canasta_basica_anual.anio }}</td>
            {% for canasta_basica_mensual in canastas_basicas_mensuales %}
                <td>
                    {% if user.is_authenticated and user.is_superuser %}
                        <a class="link-menu" href="{% url 'mensual_detail' canasta_basica_anual.id canasta_basica_mensual.id %}" title="Puedes editar datos">${{ canasta_basica_mensual.precio }}</a>
                    {% else %}
                        ${{ canasta_basica_mensual.precio }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>${{ canasta_basica_anual.precio_promedio }}</td>
            <td>{{ canasta_basica_anual.inflacion }}%</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}