{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Canasta Básica Mensual</h1>
    <table class="table">
        <thead>
        <tr class="table-group-divider" scope="col">
            <th scope="row">Año</th>
            {% for mes in meses %}
                <th>{{ mes }}</th>
            {% endfor %}
            <th scope="row">Promedio anual</th>
            <th scope="row">Inflación</th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        <tr class="table-group-divider" scope="col">
            <td>{{ canasta_basica_anual.anio }}</td>
            {% for canasta_basica_mensual in canastas_basicas_mensuales %}
                <td>{{ canasta_basica_mensual.precio }}</td>
            {% endfor %}
            <td>{{ canasta_basica_anual.precio_promedio }}</td>
            <td>{{ canasta_basica_anual.inflacion }}</td>
        </tr>
        </tbody>
    </table>
{% endblock %}