{% extends 'base.html' %}

{% block content %}
    <main>
        <form class="border rounded-3 p-3 table-wrapper" method="POST">
            <h1>Editar precio</h1>
            {% csrf_token %}
            {{ form.errors.precio }}
            {{ error }}
            <label for="precio" class="me-2">Precio:</label>
            <div>
                {{ form.precio }}
            </div>
            <br>
            <button class="btn btn-success">
                Guardar
            </button>
        </form>
    </main>
{% endblock %}