{% extends 'base.html' %}
{% load static %}
{% block content %}
    

    {{ error }}
    <div class="container-form-singup">
        <form class="form-singup" method="POST">
            <fieldset class="border rounded-3 p-3">
                <h1 class="h1-signout">Sign Up</h1>
                {% csrf_token %}
                {{ form.as_p }}
                <button class="button-signup">
                   Sign up
                </button>
            </fieldset>
        </form>
    </div>
{% endblock %}