{% extends 'base.html' %}
{% load static %}
{% block content %}
    <main>
        <div>
            <section>
                <form action="/signin/" method="POST">
                    <h1>Signin</h1>
                    {{ error }}
                    {% csrf_token %}

                    <div>
                        <label for="username">Username:</label>
                        <input type="text" name="username" id="username"
                               placeholder="Write your username">
                    </div>

                    <div>
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password"
                               placeholder="Write your password">
                    </div>

                    <button>
                        Signin
                    </button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}